<ion-content>

  <div class="background-container">

    <div class="background-filter">
      <ion-card>
        <img src="../../../assets/images/LogoFruits.png" />
        <ion-card-header>
          <ion-card-title>
            Welocome to Cloud Kitchen
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button routerLink="/login">
            Skip
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>